numpy
pandas
scipy
matplotlib
seaborn
plotly
scikit-learn
xgboost
lightgbm
catboost
tensorflow
keras
torch
torchvision
nltk
spacy
transformers
category_encoders
imbalanced-learn
feature-engine
ipykernel
ipywidgets